.menu {
  width: 25%;
  background-color: #58585a;
  height: 100%;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
}

.menu .flex-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 30px 20px;;
}

.menu .logo {
  color: white;
  font-size: 1.5rem;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.menu .burger {
  color: white;
  font-size: 18px;
  padding-top: 2px;
}

.menu nav {
  display: flex;
  flex-direction: column;
}

.menu nav a {
  color: white;
  padding: 18px 20px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.menu nav a.active {
  background-color: #cc6969;
}

.menu nav a span {
  margin-right: 10px;
}

.menu .bottom-nav {
  background-color: #4e4e52;
  position: absolute;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  bottom: 0px;
  width: 100%;
}

.menu .bottom-nav a {
  color: white !important;
  display: block;
  padding: 20px 0px;
  width: 33.33%;
  text-align: center;
  cursor: pointer;
}

.menu .bottom-nav a:hover {
  background-color: #444447;
}
