html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  margin-bottom:1px;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  text-decoration: none !important;
}

.navbar {
  border-radius: 0px;
}

.without-bg {
  background-color: #e9e7e3;
  min-height: 100%;
}

.with-bg  {
  background: url('../public/1.jpg');
  background-size: cover;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 height: 100%;

}

.black-bg {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,400,500,600,700');

p, div, span, i {
  font-family: 'PT Sans', sans-serif;
}
