.apartment-details {
  padding: 0px 5%;
  margin-top: 20px;
}

.apartment-details .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20px;
}

.apartment-details .info h2 {
  color: #525252;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 500;
  margin-top: 9px;
  font-size: 28px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.apartment-details .info a {
  color: #525252;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.apartment-details .info p {
  color: #cc6969;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 300;
  font-size: 18px;
}


.apartments .details .blue-btn {
  color: white;
  background-color: #6987cc;
  padding: 15px 25px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
}

.apartment-details {
  margin-bottom: 50px;
}

.apartment-details .images {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apartment-details .images img {
  width: 600px;
}

.apartment-details .description {
  font-family: 'PT Sans', sans-serif;
  padding: 25px;
  background-color: white;
  color: #525252;
  width: 600px;
  margin: 0 auto;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}
