.apartment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.apartment-list .apartment {
  width: 48.33%;
  background-color: white;
  margin-top: 35px;
  height: 270px;
}

.apartment {
  padding: 25px;
}

.apartment .detail-btn {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #6987cc;
  padding: 5px 15px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
}

.apartment .phone {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: #4e4e52;
  border: 1px dashed #4e4e52;
  padding: 5px 15px;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  border-radius: 2px;
}

.apartment .flex-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.apartment p {
  font-family: 'PT Sans', sans-serif;
  color: #525252;
}

.apartment .apartment-image {
  width: 48%;
  height: 154px;
}

.apartment-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.apartment .apartment-info {
  width: 48%;
}

.apartment-info h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #525252;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.apartment-info .rooms-with-price {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.rooms-with-price .rooms {
  background-color: #cc6969;
  color: white;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 8px;
}

.rooms-with-price .price {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #efd2d2;
  color: #525252;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 500;
  width: 100%;
}

.apartment-info .comfort {
  display: flex;
  flex-wrap: wrap;
}



.comfort-blue {
  background-color: #6987cc;
  cursor: pointer;

}

.comfort-yellow {
  background-color: #b5864f;
  cursor: pointer;

}

.comfort-green {
  background-color: #77b97e;
  cursor: pointer;

}

.apartment-info .comfort div {
  padding: 6px;
  margin: 5px 7px 5px 0px;
  display: flex;
  align-items: center;
}

.apartment-description {
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.comfort div:nth-child(6n) {
  margin-right: 0px;
}

.comfort div span {
  color: white;
}

.comfort .building {
  font-size: 40px !important;
}
